<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768479038732-6hkpcmia3v6q0h257jq7ncdfub7uct20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768479038732-6hkpcmia3v6q0h257jq7ncdfub7uct20</string>
	<key>API_KEY</key>
	<string>AIzaSyCWiyxWrnKPdKQgA5L5Y3igi63m105P0aA</string>
	<key>GCM_SENDER_ID</key>
	<string>768479038732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.jitendraPatil.com.Social</string>
	<key>PROJECT_ID</key>
	<string>social-1fe28</string>
	<key>STORAGE_BUCKET</key>
	<string>social-1fe28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768479038732:ios:f5302726b58daf294e0d29</string>
	<key>DATABASE_URL</key>
	<string>https://social-1fe28.firebaseio.com</string>
</dict>
</plist>